@use 'colors';

.chat-container {
  display: flex;
  flex: 1;
  height: 100vh;
  width: 100%;
  background-color: colors.$bg-main;
  color: colors.$text-main;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', sans-serif;
  overflow: hidden;

  app-main-content {
    flex: 1;
    width: 100%;
  }
}